<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chef_ai_backend.mapper.AuditLogMapper">
  <insert id="insert" parameterType="com.example.chef_ai_backend.model.AuditLog">
    INSERT INTO audit_logs (target_type, target_id, action, reason, operator_id)
    VALUES (#{targetType}, #{targetId}, #{action}, #{reason}, #{operatorId})
  </insert>
</mapper>
