<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chef_ai_backend.mapper.FoodCircleMapper">
  <resultMap id="FoodCircleMap" type="com.example.chef_ai_backend.model.FoodCircle">
    <id property="dynamicId" column="dynamic_id"/>
    <result property="userId" column="user_id"/>
    <result property="content" column="content"/>
    <result property="imgList" column="img_list"/>
    <result property="likeCount" column="like_count"/>
    <result property="commentCount" column="comment_count"/>
    <result property="createTime" column="create_time"/>
  </resultMap>

  <!-- 最新动态：按时间倒序 -->
  <select id="selectLatest" resultMap="FoodCircleMap">
    SELECT *
    FROM food_circle
    ORDER BY create_time DESC
    LIMIT #{limit}
  </select>
</mapper>