<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chef_ai_backend.mapper.RecipeTypeMapper">
  <resultMap id="RecipeTypeMap" type="com.example.chef_ai_backend.model.RecipeType">
    <id property="nodeId" column="节点ID"/>
    <result property="ftype" column="ftype"/>
    <result property="typeName" column="类型名称"/>
    <result property="parentNode" column="父节点"/>
    <result property="sortOrder" column="顺序"/>
  </resultMap>

  <select id="selectAll" resultMap="RecipeTypeMap">
    SELECT * FROM recipe_types ORDER BY 顺序
  </select>
</mapper>